.vscode/
AppData/
Contacts/
Desktop/
Downloads/

NTUSER.DAT
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
Application Data/
Cookies/
Documents/Image-Line/FL Studio/
Local Settings/
NetHood/
PrintHood/
Recent/
SendTo/
главное меню/
Мои документы/
Шаблоны/
Doctor Web/
NTUSER.DAT*
Documents/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
Pictures/
Searches/
Videos/
ex-list
